body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.card {
  box-shadow: 10px 10px 0px 0px #00000050;
  background-color: #fff;
  min-width: 300px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 28px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  background-color: #f1f5f9;
  cursor: pointer;
}

.card h1 {
  font-size: 1.4rem;
  color: #3f3f46;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-bottom p {
  color: black;
}
.card img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #0ea5e9;
}

.row {
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  /* overflow: hidden; */
}

.row > * {
  display: flex;
}
